:root {
    --accent-color: #1D6FB6;
    --item-color: #D0DCE7;
    --white-text: #F8FCFF;
}

body {
    line-height: calc(20px / 16px);
    color: #25282B;
    font-family: "Montserrat", "arial", sans-serif;
    background-color: var(--white-text, #F8FCFF);
}


.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header__inner {
    min-height: 108px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    align-content: center;
    gap: 15px;

}


.nav__list {
    display: flex;
    column-gap: 30px;
    line-height: 150%;
    flex-wrap: wrap;
    justify-content: start;
    flex-wrap: wrap;
}

.header__logo {
    max-width: 54px;
}


.networks__list {
    display: flex;
    column-gap: 30px;
    line-height: 150%;
    justify-content: end;
    flex-wrap: wrap;
}

/* ======================================================================================= */

.hero {
    padding: 120px 0;
    line-height: 1.5;
    color: var(--white-text, #F8FCFF);
    display: block;
    position: relative;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.hero__title {
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero__list {
    font-size: 24px;
    margin-bottom: 40px;
}

.hero__list-item {
    margin-bottom: 15px;
    gap: 18px;
    display: flex;
    align-items: center;
    transition: all .5s
}

.hero__list-item:last-child {
    margin-bottom: 0;
}

.hero__list-item:hover {
    color: var(--accent-color);
}

.hero__list-item path {
    transition: all .5s;
}

.hero__list-item:hover path {
    fill: var(--accent-color,#1D6FB6);
    transition: all .5s;
}


.hero__video video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__video::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #102e49cc;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 500;
    line-height: calc(20px / 16px);
    color: var(--accent-color, #1D6FB6);

    max-width: 288px;
    height: 56px;
    width: 100%;
    border-radius: 100px;
    background: var(--item-color, #D0DCE7);

    transition: all .5s;
}

.button:hover {
    color: var(--white-text, #F8FCFF);
    background: #83ADD3;
}

/* ===================================================================================== */

.main__general {
    padding: 120px 0;
}


.main__wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: start;
}

.main__sidebar {
    position: sticky;
    top:  5vh;

}

.main__body {
    width: 100%;
    max-width: 792px;
}

.main__gallery {
    margin-bottom: 120px;
} 

.sidebar {
    font-weight: 500;
    max-width: 282px;
    width: 100%;
    border: 2px solid var(--item-color, #D0DCE7);
    padding: 30px;
    min-height: 60vh;
}

.sidebar__items {
    margin-bottom: 20px;
}

.sidebar__items:last-child {
    margin-bottom: 0;
}



/* ===================================================================================== */

.gallery {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    font-weight: 500;
}


.gallery__img {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
}

.gallery__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.gallery__img--large-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery__img--large-right {
    grid-column: -1/-3;
    grid-row: span 2;
}

.gallery__hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1D6FB6B2;
    height: 53px;
    color: var(--white-text, #F8FCFF);
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(100%);
    opacity: 0;
    transition: all .7s;
}

.gallery__img--large-left .gallery__hint {
    line-height: 29px;
    font-size: 24px;
    height: 103px;
}

.gallery__img--large-right .gallery__hint {
    line-height: 29px;
    font-size: 24px;
    height: 103px;
}

.gallery__img:hover .gallery__hint {
    transform: translateY(0%);
    opacity: 1;
}

/* ===================================================================================== */

.products {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.products__item-img {
    position: relative;
    padding-bottom: 62%;
}


.products__item-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    left: 0;
    top: 0;
}

.profucts__item-badge {
    position: absolute;
    left: 0;
    top: 12.6%;
    color: var(--accent-color, #1D6FB6);
    padding: 18px 15px;
    text-align: center;
    font-weight: 500;
    min-width: 33.9%;
    border-radius: 0px 100px 100px 0px;
    background: var(--white-text, #F8FCFF);

    animation: badge-anim 2s infinite alternate;
}

@keyframes badge-anim {
    from {
        min-width: 33.9%
    }
    66.666%{
        min-width: 33.9%;
    }
    to {
        min-width: 37.3%
    }
}

.products__item-body {
    border: 1px solid var(--item-color, #D0DCE7);
    border-top: none;
    padding: 30px 15px;
}

.products__item-button {
    margin: 0 auto;
}

/* ================================================================================================ */

.footer {
    padding: 30px 0;
    background: #788088;
    color: var(--white-text, #F8FCFF);
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer svg {
    vertical-align: sub;
}